<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILRepack" version="2.0.16" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net481" />
  <package id="RT.CommandLine" version="2.0.1755" targetFramework="net481" />
  <package id="RT.Lingo.Base" version="2.0.1755" targetFramework="net481" />
  <package id="RT.PostBuild" version="2.0.1755" targetFramework="net481" />
  <package id="RT.Serialization" version="2.0.1755" targetFramework="net481" />
  <package id="RT.Serialization.Xml" version="2.0.1755" targetFramework="net481" />
  <package id="RT.Util" version="2.0.1755" targetFramework="net481" />
  <package id="RT.Util.Core" version="2.0.1755" targetFramework="net481" />
</packages>