name: build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Prepare version
        uses: actions/github-script@v7
        with:
          script: |
            const script = require(require('path').resolve('./.github/workflows/version.js'))
            const vs = script({ context, github, firstRev: '8a657a55' });
            const verStr = vs.formatVersion(`1.$(GitRevCount)-$(GitBranch) ($(GitSha6)/$(yyyy)-$(mm)-$(dd))`).replace('-main', '');
            const verNum = vs.formatVersion(`1.$(GitRevCount)`);
            core.exportVariable('VER_STR', verStr);
            core.exportVariable('VER_NUM', verNum);
            const temp = `-p:InformationalVersion="${verStr}" -p:Version=${verNum} -p:FileVersion=${verNum} -p:AssemblyVersion=${verNum}`;
            console.log(temp);
            core.exportVariable('VERSIONS', temp);
            vs.updateText('Src/CmdLineArgs.cs', 'Version [DEV]', `Version ${verStr}`);
            vs.updateText('Src/Program.cs', 'v[DEV]', `v${verStr}`);

      - name: Install dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: dotnet restore
        run: dotnet restore

      - name: "dotnet publish framework-dependent: ${{ env.VER_STR }}"
        run: |
          dotnet publish Src\RunLogged.csproj --configuration ReleaseConsole ${{env.VERSIONS}} -o Publish\fwdep -p:PublishSingleFile=False
          dotnet publish Src\RunLogged.csproj --configuration ReleaseWindowless ${{env.VERSIONS}} -o Publish\fwdep -p:PublishSingleFile=False
          dotnet publish RunLoggedCs\RunLoggedCs.csproj --configuration ReleaseConsole ${{env.VERSIONS}} -o Publish\fwdep -p:PublishSingleFile=False
          dotnet publish RunLoggedCs\RunLoggedCs.csproj --configuration ReleaseWindowless ${{env.VERSIONS}} -o Publish\fwdep -p:PublishSingleFile=False

      - name: "dotnet publish framework-dependent (single-file): ${{ env.VER_STR }}"
        run: |
          dotnet publish Src\RunLogged.csproj --configuration ReleaseConsole ${{env.VERSIONS}} -o Publish\fwdep-single
          dotnet publish Src\RunLogged.csproj --configuration ReleaseWindowless ${{env.VERSIONS}} -o Publish\fwdep-single
          dotnet publish RunLoggedCs\RunLoggedCs.csproj --configuration ReleaseConsole ${{env.VERSIONS}} -o Publish\fwdep-single
          dotnet publish RunLoggedCs\RunLoggedCs.csproj --configuration ReleaseWindowless ${{env.VERSIONS}} -o Publish\fwdep-single

      - name: "dotnet publish self-contained (single-file): ${{ env.VER_STR }}"
        run: |
          dotnet publish RunLoggedCs\RunLoggedCs.csproj --configuration ReleaseConsole ${{env.VERSIONS}} -o Publish\standalone -p:SelfContained=True
          dotnet publish RunLoggedCs\RunLoggedCs.csproj --configuration ReleaseWindowless ${{env.VERSIONS}} -o Publish\standalone -p:SelfContained=True

      - name: "Upload artifact: framework-dependent"
        uses: actions/upload-artifact@v4
        with:
          name: RunLogged-v${{env.VER_NUM}}-net8
          path: Publish\fwdep
          if-no-files-found: error

      - name: "Upload artifact: framework-dependent (single-file)"
        uses: actions/upload-artifact@v4
        with:
          name: RunLogged-v${{env.VER_NUM}}-net8-single
          path: Publish\fwdep-single
          if-no-files-found: error

      - name: "Upload artifact: self-contained (single-file)"
        uses: actions/upload-artifact@v4
        with:
          name: RunLogged-v${{env.VER_NUM}}-standalone
          path: Publish\standalone
          if-no-files-found: error
